<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5 mx-auto">
      <form (submit)="register()">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <div class="form-group">
          <label for="name">Company Name</label>
          <input type="text" class="form-control" name="company_name" placeholder="Enter your company name" [(ngModel)]="credentials.company_name">
        </div>
        <div class="form-group">
          <label for="name">Company PIC</label>
          <input type="text" class="form-control" name="company_pic" placeholder="Enter your company PIC number" [(ngModel)]="credentials.company_pic">
        </div>
        <div class="form-group">
          <label for="regno">Company Registration No.</label>
          <input type="text" class="form-control" name="company_regno" placeholder="Enter company registration number" [(ngModel)]="credentials.company_regno">
        </div>

        <div class="form-group">
          <label for="address">Company Address</label>
          <input type="text" class="form-control" name="address" placeholder="Enter company address" [(ngModel)]="credentials.company_address">
        </div>
        <div class="form-group">
          <label for="cert">Company Certificate</label>
          <input type="file" class="form-control" name="company_cert" placeholder="Choose file." [(ngModel)]="credentials.company_cert">
        </div>

        <div class="form-group">
          <label for="area">Company Area</label> <br>
          
          <input type="radio" class="" name="area1" value="hr" [(ngModel)]="credentials.hr"> Human Resources<br>
          <input type="radio" class="" name="area2" value="engineering" [(ngModel)]="credentials.eng"> Engineering<br>
          <input type="radio" class="" name="area3" value="account" [(ngModel)]="credentials.account"> Accountancy<br>
          <input type="radio" class="" name="area4" value="security" [(ngModel)]="credentials.security"> Security<br>

        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
        <button type="cancel" class="btn btn-lg btn-primary btn-block">Cancel</button>

      </form>
    </div>
  </div>
</div>

<!-- New registration page -->

 <div class="container">
      <h4 class="mb-3 mt-4">Registration Form</h4>
            <form class="needs-validation" novalidate (submit)="register()">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">User name</label>
                  <input type="text" class="form-control" name="first_name" placeholder="" [(ngModel)]="credentials.first_name" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" placeholder="" [(ngModel)]="credentials.password" required>
                  <div class="invalid-feedback">
                    Please fill in this area.
                  </div>
                </div>
              </div>
              <div class="mb-3">
                  <label for="firstName">Position</label>
                  <input type="text" class="form-control" name="position" placeholder="" value="" required>
                  <div class="invalid-feedback">
                      Please fill in this area
                  </div>
                  </div>
              <div class="mb-3">
              <label for="firstName">Company Name</label>
              <input type="text" class="form-control" name="company" placeholder="" value="" required>
              <div class="invalid-feedback">
                  Please fill in this area
              </div>
              </div>
      
              <div class="mb-3">
                  <label for="firstName">Company Registration No</label>
                  <input type="text" class="form-control" name="registration" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Please fill in this area
                  </div>
              </div>
      
              <div class="mb-3">
                <label for="address">Address</label>
                <input type="text" class="form-control" name="address" placeholder="Malaysia.." required>
                <div class="invalid-feedback">
                    Please fill in this area
                </div>
              </div>
      
              <div class="mb-3">
                <label for="firstName">File Upload : </label>
                <input type="file" name="name" multiple>
              </div>
      
              <div class="mb-3">
                <label class="mr-2" name="department">Department : </label>
                <input type="radio" value="HR"> Human Resource
                <input type="radio" value="IT"> Information Technology
                <input type="radio" value="ACC"> Account / Finance
              </div>
      
              <button class="btn btn-danger m-3"> Cancel </button>
              <button class="btn btn-success"> Submit </button>
      
            </form>
          </div>