<div class="container">
  <div class="jumbotron mt-5">
    <div class="col-sm-8 mx-auto">
      <h1 class="text-center mb-5">Company Profile</h1>
    </div>
    <table class="table col-md-6 mx-auto">
      <tr>
        <td>Company ID No : </td>
        <td>{{ details?.id }}</td>
      </tr>
      <tr>
        <td>Company Name : </td>
        <td>{{ details?.company_name }}</td>
      </tr>
      <tr>
        <td>Company PIC : </td>
        <td>{{ details?.company_pic }}</td>
      </tr>
      <tr>
        <td>Registration Number : </td>
        <td>{{ details?.register_no }}</td>
      </tr>
      <tr>
        <td>Address: </td>
        <td>{{ details?.company_address }}</td>
      </tr>
      <tr>
        <td>Files / gallery : </td>
        <td>{{ details?.company_cert }}</td>
      </tr>
      <tr>
        <td>Department : </td>
        <td>{{ details?.company_depart }}</td>
      </tr>
    </table>
    <button class="btn btn-primary float-right" routerLink="/register">Add user</button>
  </div>
</div>