<div class="container">
  <div class="jumbotron mt-5">
    <div class="col-sm-8 mx-auto">
      <h1 class="text-center">PROFILE</h1>
    </div>
    <table class="table col-md-6 mx-auto">
      <tr>
        <td>Company Name : </td>
        <td>{{ details?.company_name }}</td>
      </tr>
      <tr>
        <td>Company PIC : </td>
        <td>{{ details?.company_pic }}</td>
      </tr>
      <tr>
        <td>Registration Number : </td>
        <td>{{ details?.register_no }}</td>
      </tr>
      <tr>
        <td>Addres : </td>
        <td>{{ details?.company_address }}</td>
      </tr>
    </table>
  </div>
</div>